Repository mars-protocol/mars-v2-frontend, pull requests merged in 2025-05, with the labels that each got.

#1462 Vault performance link and other fixes
  src/components/common/CharacterCount.tsx
  src/components/managedVaults/NavigateBackButton.tsx
  src/components/managedVaults/createVault/CreateVaultContent.tsx
  src/components/managedVaults/createVault/PerformanceFee.tsx
  src/components/managedVaults/createVault/index.tsx
  src/components/managedVaults/vaultDetails/common/Overlays/FeeAction.tsx
  src/components/managedVaults/vaultDetails/index.tsx
  src/components/managedVaults/vaultDetails/overview/OwnerVaultPosition.tsx
  src/components/managedVaults/vaultDetails/overview/VaultSummary.tsx
  src/components/managedVaults/vaultDetails/profileVaultCard/FeeTag.tsx
  src/components/managedVaults/vaultDetails/profileVaultCard/ProfileVaultCard.tsx
  src/components/portfolio/Card/index.tsx
  src/hooks/managedVaults/useManagedVaultDetails.ts
Labels: Managed Vault

#1464 Always display users deposited vaults
  src/hooks/managedVaults/useDepositedManagedVaultsFallback.ts
  src/hooks/managedVaults/useManagedVaults.ts
Labels: Managed Vault

#1493 Update perps vault apy api
  src/chains/neutron/neutron-1.ts
  src/chains/neutron/pion-1.ts
  src/hooks/perps/usePerpsVault.ts
Labels: Perps

#1487 Historical APR Red Bank chart and move mars backend API key from client-side to server-side
  src/components/common/ChartWrapper/ChartCardWrapper.tsx
  src/components/common/DynamicLineChart/AreaChartLoading.tsx
  src/components/common/DynamicLineChart/ChartTooltip.tsx
  src/components/common/DynamicLineChart/DynamicLineChartBody.tsx
  src/components/common/DynamicLineChart/index.tsx
  src/components/common/Legend/ChartLegend.tsx
  src/components/common/MarketDetails.tsx
  src/hooks/markets/useAssetApr.ts
  src/types/app.d.ts
Labels: Lend & Borrow
